
  @import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
    margin: 20px auto;
     font-family: 'Happy Monkey', cursive;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 0px 50px 20px 50px;
    height: 325px;
    width: 350px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    font-family: 'Happy Monkey', cursive;
}

.scoreboard {
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    color: white;
    font-family: 'Happy Monkey', cursive;
    font-size: 2rem;
}


footer {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
     font-family: 'Happy Monkey', cursive;
    
}

.scoreBtn {
    color: navy
     font-family: 'Happy Monkey', cursive;
}

.scoreBtn:hover {
    color: black;
    background-color: red;
    transition-delay: 0.9ms;  
}

#reset-btn {
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    color: navy;
    border: none;
     font-family: 'Happy Monkey', cursive;
    
}

#reset-btn:hover {
    color: black;
    background-color: red;
    transition-delay: 0.9ms;  
}

button {
  padding: 10px;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
     font-family: 'Happy Monkey', cursive;
}


